* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  overflow:  hidden;
}
                                                /* Содержимое первого слайда */
.container {
     display: grid;
     grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     gap: 0px 0px;
     min-height: 100vh;
     transition:all 0.5s ease;
     background-color: rgb(26, 26, 26);
     grid-gap: 5px 5px;                 /*<------размер отступов между блоками*/
     grid-template-areas:
      "Left cont1 cont2 cont3 cont3"
      "Left2 cont4 cont5 content content"
      "Left3 cont6 cont6 content content"
      "Left4 cont7 cont8 cont8 cont9";
}
                                              /* Содержимое второго слайда */
.container2 {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    min-height: 100vh;
    transition:all 0.5s ease;
    background-color: rgb(26, 26, 26);
    grid-gap: 5px 5px;                 /*<------размер отступов между блоками*/
    grid-template-areas:
     "Left1_2 cont1_1 cont2_2 cont3_3 cont4_4"
     "Left2_2 cont5_5 cont2_2 content_2 cont6_6"
     "Left3_3 cont7_7 cont8_8 content_2 cont6_6"
     "Left4_4 cont7_7 cont9_9 cont10_10 cont11_11";
}


  .cont1 {
    grid-area: cont1;
    background-color: red;
    background: url(../img/cont1.webp) no-repeat;
    background-position: center;
    background-size: cover;

  }
  .cont2 {
    grid-area:  cont2;
    background-color: purple;
    background: url(../img/cont2.webp) no-repeat;
    background-position: center;
    background-size: cover;

   }
  .cont3 {
    grid-area: cont3 ;
    background-color: green;
    background: url(../img/cont3.webp) no-repeat;
    background-position: center;
    background-size: cover;


   }
  .cont4 {
    grid-area: cont4;
    background-color: yellow;
    background: url(../img/cont4.webp) no-repeat;
    background-position: center;
    background-size: cover;
   }
  .cont5 {
    grid-area: cont5;
    background-color: orange;
    background: url(../img/cont5.webp) no-repeat;
    background-position: center;
    background-size: cover;
   }
  .cont6 {
    grid-area: cont6;
    background-color: blue;
    background: url(../img/cont6.webp) no-repeat;
    background-position: center;
    background-size: cover;
   }
  .cont7 {
    grid-area: cont7;
    background-color: grey;
    background: url(../img/cont7.webp) no-repeat;
    background-position: center;
    background-size: cover;
   }
  .cont8 {
    grid-area: cont8;
    background-color: orange;
    background: url(../img/cont8.webp) no-repeat;
    background-position: center;
    background-size: cover;

   }
  .cont9 {
    grid-area: cont9;
    background-color: green;
    background: url(../img/cont9.webp) no-repeat;
    background-position: center;
    background-size: cover;
   }
   .content {
     grid-area: content;
     background-color: gold;
     background: url(../img/bg_content.webp) no-repeat;
     background-position: center;
     background-size: cover;
    }
                                                /* Вторая страница с работами */
  .cont1_1 {
    grid-area: cont1_1;
    background-color: red;
    background: url(../img/cont1_1.webp) no-repeat;
    background-position: center;
    background-size: cover;
  }
  .cont2_2 {
    grid-area: cont2_2;
    background-color: green;
    background: url(../img/cont2_2.webp) no-repeat;
    background-position: center;
    background-size: cover;
  }
  .cont3_3 {
    grid-area: cont3_3;
    background-color: blue;
    background: url(../img/cont3_3.webp) no-repeat;
    background-position: center;
    background-size: cover;
  }
  .cont4_4 {
    grid-area: cont4_4;
    background-color: red;
    background: url(../img/cont4_4.webp) no-repeat;
    background-position: center;
    background-size: cover;
  }
  .cont5_5 {
    grid-area: cont5_5;
    background-color: purple;
    background: url(../img/cont5_5.webp) no-repeat;
    background-position: center;
    background-size: cover;
  }
  .cont6_6 {
    grid-area: cont6_6;
    background-color: grey;
    background: url(../img/cont6_6.webp) no-repeat;
    background-position: center;
    background-size: cover;
  }
  .cont7_7 {
    grid-area: cont7_7;
    background-color: rgb(96, 168, 75);
    background: url(../img/cont7_7.webp) no-repeat;
    background-position: center;
    background-size: cover;
  }
  .cont8_8 {
    grid-area: cont8_8;
    background-color: rgb(122, 49, 73);
    background: url(../img/cont8_8.webp) no-repeat;
    background-position: center;
    background-size: cover;
  }
  .cont9_9 {
    grid-area: cont9_9;
    background-color: rgb(255, 180, 102);
    background-position: center;
    background-size: cover;
  }
  .cont10_10 {
    grid-area: cont10_10;
    background-color: rgb(36, 117, 131);
    background-position: center;
    background-size: cover;
  }

  .cont11_11 {
    grid-area: cont11_11;
    background-color: rgb(71, 126, 135);
    background-position: center;
    background-size: cover;
  }

  .content_2 {
    grid-area: content_2;
    background-color: rgb(73, 80, 173);
    background: url(../img/content2_2.webp) no-repeat;
    background-position: center;
    background-size: cover;

  }



                                                               /* меню слева */
  .menu_left {
    position: fixed;
    min-width: 25vh;

  }

  .Left {
    grid-area: Left;
    border: 1px solid rgb(185, 110, 212);


}

  .Left2 {
    grid-area: Left2;
    /* background-color: rgb(196, 105, 108); */
    text-align: center;

    min-height: 25vh;

   }

  .Left3 {
    grid-area: Left3;
    /* background-color: green; */
    text-align: center;

    min-height: 25vh;

  }

  .Left4 {
    grid-area: Left4;
    /* background-color: rgb(177, 185, 116); */
    text-align: center;

    min-height: 25vh;
  }



                              /* присвоение эфекта уменьшения для всех блоков */
   .cont1:hover,.cont1_1:hover,
   .cont2:hover,.cont2_2:hover,
   .cont3:hover,.cont3_3:hover,
   .cont4:hover,.cont4_4:hover,
   .cont5:hover,.cont5_5:hover,
   .cont6:hover,.cont6_6:hover,
   .cont7:hover,.cont7_7:hover,
   .cont8:hover,.cont8_8:hover,
   .cont9:hover,.cont9_9:hover,
   .cont10:hover,.cont10_10:hover,
   .cont11:hover,.cont11_11:hover,
   .cont12:hover,.cont12_12:hover,.content_2:hover,
   .content:hover {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
    opacity: 1.2;
   }
                                             /* Скорость эфекта сдивга блока */
   .cont1,.cont1_1,
   .cont2,.cont2_2,
   .cont3,.cont3_3,
   .cont4,.cont4_4,
   .cont5,.cont5_5,
   .cont6,.cont6_6,
   .cont7,.cont7_7,
   .cont8,.cont8_8,
   .cont9,.cont9_9,
   .cont10,.cont10_10,
   .cont11,.cont11_11,
   .cont12,.cont12_12,.content_2,
   .content {
     transition: all 0.5s ease;
     opacity: 0.85;
   }
.arrow_up, .arrow_down {
  width: 100px;
  text-align: center;
  padding-top: 25%;

}
.logo {
  max-width: 200px;
  max-height: 200px;
  text-align: center;
  padding-left: 15%;
  padding-top: 8%;

}
